body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logo-title {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
}

.logo-title-studio {
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.logo-title-go {
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
}

.navigation-link-go:focus {
  color: #404bbf;
  text-decoration: underline;
}

.navigation-link-go:hover {
  color: #404bbf;
  text-decoration: underline;
}

.navigation-link-go {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.address-list {
  font-style: normal;
}
.address-contact {
  font-family: "Roboto", sans-serif;
  color: #434455;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-contact:hover {
  color: #404bbf;
  text-decoration: underline;
}

.address-contact:focus {
  color: #404bbf;
}

.section-one {
  background-color: #2e2f42;
}

.section-one-heading {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-one-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #ffffff;
}

.section-one-button:hover {
  background-color: #404bbf;
}

.section-one-button:focus {
  background-color: #404bbf;
}

.button-text {
  color: #ffffff;
  font-weight: 500px;
  font-size: 16px;
}

.advantages-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team-section {
  background-color: #f4f4fd;
}

.our-team-heading {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.our-team-list-item {
  background-color: #ffffff;
}
.our-team-employee-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team-employee-job-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
}

.our-portfolio-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.our-portfolio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-portfolio-item-form {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

footer {
  background-color: #2e2f42;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-title-studio-footer {
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #f4f4fd;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
